$media:(des,900px),(tab,900px),(mob,600px);
$gridCount:5;
/*colors*/
$firstColor:#f9f9f9;
$secoundColor:#bcbab8;
$thirdColor:#9d8f8f;
$fourthColor:#e7e1e1;
$fifthColor:#cf8d8d;
$sixthColor:#625757;
$seventhColor:#ccc2c2;
$lightBgColor:#f8f8f8;
$pinkBgColor:#cf8d8f;
$darkBgColor:#343a40;
$menuBgColor:rgb(49, 49, 49);
$alphaPink:#cf8d8db9;
$textColor:#000;
$pinkText:#cf8d8d;
$grayText:#6c757d;

// blue 49c5ce 
